<div class="container">
    <div class="form-group">
        <label>IDMH: </label>
        <input class="form-control" name="IDMH" placeholder="Enter IDMH" />
    </div>
    <div class="form-group">
        <label>MA_HK: </label>
        <input class="form-control" name="MA_HK" placeholder="Enter MA_HK" />
    </div>
    <div class="form-group">
        <label>TEN_MH: </label>
        <input class="form-control" name="TEN_MH" placeholder="Enter TEN_MH" />
    </div>
    <div class="form-group">
        <label>SoTC: </label>
        <input class="form-control" name="SoTC" placeholder="Enter SoTC" />
    </div>
    <div class="form-group">
        <label>LyThuyet: </label>
        <input class="form-control" name="LyThuyet" placeholder="Enter LyThuyet" />
    </div>
    
    <div class="form-group">
        <label>ThucHanh: </label>
        <input class="form-control" name="ThucHanh" placeholder="Enter ThucHanh" />
    </div>
    <div class="form-group">
        <label></label>
        <input class="btn-lg" name="btnOK" type="submit" value="Login"/>
    </div>
</div>

